@import 'utils/_master.scss';
.tableItem {
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    & .employeeImg {
        width: 34px;
        height: 33px;
        border-radius: 50%;
    }
}
