@import 'utils/_master.scss';
.tableContainer {
    border-radius: 4px 4px 0px 0px;
    .tableWrapper {
        @include blocks-spacing;
        & .tableEmployees {
            width: 100%;
            border-radius: 4px 4px 0px 0px;
            border: 1px solid #ddd;
            border-spacing: 0;
        }

        & thead {
            background-color: $thead-color;
            color: $white;
        }

        & thead > tr > th,
        & tbody > tr > th {
            padding: 10px;
            text-transform: uppercase;
            font-weight: normal;
        }

        & tbody td {
            padding: 5px;
            border-bottom: 2px solid #ddd;
        }

        & tr {
            text-align: center;
        }
    }
}
